{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "printWidth": 100,
  "bracketSameLine": true,
  "proseWrap": "always",
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^@/constants/(.*)$",
    "^@/entities/(.*)$",
    "^@/services/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
